

body{

	font-family: 'Roboto', sans-serif;

	 
}




section form input#usuarioRegistro
{
		text-transform: lowercase;

}

.color-gris{


background: rgba(0,0,0,.2);



}
section form input#usuarioRegistro
{
		text-transform: lowercase;

}

table{

  color: #ffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300i;
}


.display-4
{
	color: #ffff;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 300i;

}

form
{
color: #ffff;
font-family: 'Roboto', sans-serif;
font-weight: 300i;

}

.margen-top
{

 margin-top: 5em;

}


/*********Da los bordes rendonde en los div *******/

div{
-webkit-border-radius: 3px 5px 1px 4px; /* recuerda la primera frase */
-moz-border-radius: 4px; /* si quieres todas las esquinas iguales */
border-radius: 15px;
}

/*************Fin********************************/

/******************* color de botonos ***************/


.btn-color { 
  color: #ffffff; 
  background-color: #5C7066; 
  border-color: #243840; 
} 
 
.btn-color:hover, 
.btn-color:focus, 
.btn-color:active, 
.btn-color.active, 
.open .dropdown-toggle.btn-color { 
  color: #ffffff; 
  background-color: #243840; 
  border-color: #243840; 
} 
 
.btn-color:active, 
.btn-color.active, 
.open .dropdown-toggle.btn-color { 
  background-image: none; 
} 
 
.btn-color.disabled, 
.btn-color[disabled], 
fieldset[disabled] .btn-color, 
.btn-color.disabled:hover, 
.btn-color[disabled]:hover, 
fieldset[disabled] .btn-color:hover, 
.btn-color.disabled:focus, 
.btn-color[disabled]:focus, 
fieldset[disabled] .btn-color:focus, 
.btn-color.disabled:active, 
.btn-color[disabled]:active, 
fieldset[disabled] .btn-color:active, 
.btn-color.disabled.active, 
.btn-color[disabled].active, 
fieldset[disabled] .btn-color.active { 
  background-color: #5C7066; 
  border-color: #243840; 
} 
 
.btn-color .badge { 
  color: #5C7066; 
  background-color: #ffffff; 
}
/*************Fin********************************/




/**************************** tabla ******************+*/
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  
    color: #fff;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #fff;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #fff;
}


/*************************	fin ******************/

a {
  color: #ffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


/*************Color de boton elminar**************/
.elimina-a:hover {
  color: #FF0100FF;
  font-size: 18px; 
  text-decoration: underline;
}
/*************Fin********************************/

/*************Color de boton Editar**************/
.edita-a:hover {
  color: #25D991;
  font-size: 16px; 
  margin-bottom: 15px;
  text-decoration: underline;
}

/*************Fin********************************/


/*************Transparencia y bordes de redondos a las tablas ************/

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: rgba(91,115,115,.4);
  -webkit-border-radius: 3px 5px 1px 4px; /* recuerda la primera frase */
-moz-border-radius: 4px; /* si quieres todas las esquinas iguales */
border-radius: 15px;
}
/*************Fin********************************/
.margen-l{

  margin-right: : 10em;
}

.card-personalizado {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: none;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}
.card-body-personalizado {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding:0rem;
}

/********Foto Perfil Formulario de Registro********/

.container-perfil {
    position: relative;
    width: 50%;
}

.image-perfil {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-perfil {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container-perfil:hover .image-perfil {
  opacity: 0.3;
}

.container-perfil:hover .middle-perfil {
  opacity: 1;
}

.text-perfil {
  background-color: none;
  color: white;
  font-size: 2em;
  
}


/*************Color de boton Editar**************/
.edita-foto:hover {
  color: #5C7066;

}

/*************Fin********************************/


/*********FIN *********/